div.css-keje6w{
    background-color: #f5f5f5;
    border: 2px solid;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    color: steelblue;
    box-shadow: 10px;
    font-weight: 900;
   }

div.css-1r6slb0{
    background-color: #f5f5f5;
    border: 2px solid;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    color: steelblue;
    box-shadow: 10px;
    font-weight: 900;
   }
